
.app-header {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  min-height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  padding: 0 140px;
}

.app-header__logo {
  color: white;
  justify-self: flex-start;
  align-self: flex-end;
  font-size: initial;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-decoration: none;
}

.app-header__nav {
  display: inline-block;
}

.app-header__nav-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 32px;
  justify-items: center;
  padding: 0;
  margin: 55px 0 0 0;
  list-style: none;
}

.app-header__nav-list-item {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2.4px;
}

.app-header__nav-list-item a:hover {
  text-decoration: underline;
}

.app-header__nav-list-item a {
  color: white;
  text-decoration: none;
}

.app-header__nav-menu-button {
  display: none;
  
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: content-box;
  color: white;
  cursor: pointer;
  font-size: 0;
  transition: all 0.25s ease-out;
  outline: none;
  padding: 6px;
  position: relative;
  user-select: none;
}

.app-header__nav-menu-button-icon {
  width: 28px;
  height: 18px;
  position: relative;
  display: inline-block;
  font-size: 0;
}

.app-header__nav-menu-button-icon span {
  background-color: white;
  position: absolute;
  border-radius: 2px;
  transition: transform .5s ease-in-out;
  width: 100%;
  height: 2px;
  left: 0;
  transform: rotate(0);
}

.app-header__nav-menu-button-icon span:nth-child(1) {
  top: 0;
}

.app-header__nav-menu-button-icon span:nth-child(2) {
  top: 8px;
  visibility: visible;
}

.app-header__nav-menu-button-icon span:nth-child(3) {
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  .app-header {
    grid-template-columns: 1fr 1fr;
    padding: 0 32px;
  }
  
  .app-header__nav-menu-button {
    display: inline-block;
    
    justify-self: flex-end;
    align-self: flex-end;
  }

  .app-header__nav {
    display: none;
  }
}
